/* You can add global styles to this file, and also import other style files */

//@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
//@import '../node_modules/@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

md-toolbar-row {
  justify-content: space-between;
}

md-toolbar a {
  text-decoration: none;
  color: #fff; // куда это вынести?
}

p {
  margin: 16px;
}

md-grid-list {
  max-width: 1403px;
  margin: 16px;
}

md-sidenav-layout {
  height: 100vh;
}

md-sidenav {
  width: 320px;
}

.icon-20 {
    font-size: 20px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}